<h1>So many cocktails in the world. You really should drink them all.</h1>
<p><em>“Here's to alcohol, the rose colored glasses of life.” - F. Scott Fitzgerald</em></p>
<%= link_to "Learn More", cocktails_path, class: "btn btn-info btn-lg border" %>
