<div>
  <div class="">
      <h1>So many cocktails in the world. You really should drink them all.</h1>
      <p>“Here's to alcohol, the rose colored glasses of life.” - F. Scott Fitzgerald</p>
    <%= link_to "Learn More", cocktails_path, class: "btn btn-dark btn-lg learn-more" %>
  </div>
</div>
