<div class="col-6 card">
  <div class="card-product shadow">
    <%= image_tag left_card.picture_url, alt: "Alcohol" %>
      <div class="card-product-infos shadow">
        <h2><%= left_card.name %></h2>
        <p><%= left_card.description %></p>
    </div>
  </div>
</div>
