<div class="col-6">
  <div class="card-product">
    <div class="card-product-infos shadow">
      <h2><%= right_card.name %></h2>
      <p><%= right_card.description %></p>
    </div>
    <%= image_tag right_card.picture_url, alt: "Alcohol" %>
  </div>
</div>
