<div class="banner banner-dark">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
          <% if cocktail.id.even? %>
            <%= render :partial => "left_card", :object => cocktail %>
          <% else %>
            <%= render :partial => "right_card", :object => cocktail %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>




