<div class="banner banner-dark">
  <div class="container">
    <div class="row ">
      <% @cocktails.each do |cocktail| %>
        <%= render :partial => "card", :object => cocktail %>
      <% end %>
    </div>
  </div>
</div>




