<div class="navbar fixed-top navbar-expand-md bg-faded navbar-lewagon-dark">

  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
       <i class="fas fa-cocktail"></i>
       <p class="ml-2">So Many Cocktails</p>
    </div>

  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to "Add Cocktail", new_cocktail_path, class:"btn, btn-info btn-lg border"  %>
    </ul>
  </div>
</div>
