.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  z-index: 1000;
}

.navbar-lewagon-dark {
  background-color: #11162C;
}

.navbar-lewagon .navbar-collapse .navbar-lewagon-dark {
  flex-grow:0 ;
}

.navbar-lewagon .navbar-brand .navbar-lewagon-dark img {
  width: 40px;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}

.navbar-brand p {
  margin: 0;
}

.navbar-brand:hover {
  color: rgb(189,182,180);
}
