.show-card-product, .show-title-card {
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  color: white;
  background-color: #323F53;
}

.show-title-product {
  height: 150px;
}

.show-title-card {
  height: 120px;
}

.ingredient-card-product {
  overflow: hidden;
  height: 100%;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  color: white;
  background-color: #323F53;
}


.show-card-product h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.show-card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-cocktail_card_link:hover {
  text-decoration: none;
  color: rgb(189,182,180);
}

.icon {
  font-size: 20px;
}

.icon:hover::before {
    color: #958172;
}
