.show-card-product, .show-title-card {
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  color: white;
  background-color: rgba(117, 140, 160,1);
}

.show-title-product {
  height: 150px;
}

.show-title-card {
  height: 120px;
}

.ingredient-card-product {
  overflow: hidden;
  height: 100%;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  color: white;
  background-color: rgba(117, 140, 160,1);
}


.show-card-product h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.show-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-cocktail_card_link:hover {
  text-decoration: none;
  color: rgb(189,182,180);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2 ;
  grid-row: 2;
}
.three {
  grid-column: 3;
  grid-row: 1 / 2;
}
